[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua
[submodule "deps/sokol"]
	path = deps/sokol
	url = https://github.com/floooh/sokol
[submodule "deps/sokol-tools"]
	path = deps/sokol-tools
	url = https://github.com/floooh/sokol-tools
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/lume"]
	path = deps/lume
	url = https://github.com/rxi/lume.git
[submodule "deps/3d-game-shaders-for-beginners"]
	path = deps/3d-game-shaders-for-beginners
	url = https://github.com/lettier/3d-game-shaders-for-beginners.git
[submodule "deps/bc7enc_rdo"]
	path = deps/bc7enc_rdo
	url = https://github.com/richgel999/bc7enc_rdo
[submodule "deps/JoltPhysics"]
	path = deps/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "deps/ozz-animation"]
	path = deps/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "deps/bgfx"]
	path = deps/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "deps/cute_framework"]
	path = deps/cute_framework
	url = https://github.com/RandyGaul/cute_framework.git
[submodule "deps/miniaudio"]
	path = deps/miniaudio
	url = https://github.com/mackron/miniaudio.git
